<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add vacation</title>
    <link th:rel="stylesheet" rel="stylesheet" href="../static/bootstrap.css" th:href="@{/bootstrap.css}">
</head>
<body>
<h1>Enter vacation</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <div class="card">
                <div class="card-body">
                    <form action="#" th:action="@{/vacations/add-vacation}" th:object="${vacation}" method="post">
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
                            <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><label class="float-right"><b>Start</b></label></div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="date" class="form-control" id="start" autocomplete="off" th:field="*{vacation_start}"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><label class="float-right"><b>End</b></label></div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="date" class="form-control" id="end" autocomplete="off" th:field="*{vacation_end}"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><label class="float-right"><b>Comment</b> max 500 characters</label></div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <input type="text" class="form-control" th:field="*{comment}"></input>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-8">
                                <button type="submit" class="btn btn-primary mb-2">Add vacation</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>