<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Calendar</title>
    <link th:href='@{/main.css}' rel='stylesheet' />
    <link th:href="@{/bootstrap.css}" rel="stylesheet" />
    <script th:src='@{/main.js}'></script>

    <style>
        /*th:href="@{/main.min.css}"*/
        body {
            margin: 40px 10px;
            padding: 0;
            font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
            font-size: 14px;
        }
        #calendar {
            max-width: 900px;
            margin: 0 auto;
        }
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 50px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

       /* !* Modal Content *!
        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }

        !* The Close Button *!
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }*/

    </style>
</head>
<body>
<!--<div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
    <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
</div>-->
       <div id='calendar' th:id="calendar"></div>

       <div id="myModal" class="modal">

           <!-- Modal content -->
           <!--<div class="modal-content">-->
               <form action="#" th:action="@{/calendar/add-absence}" th:object="${absence}" method="post">
                   <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
                       <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
                   </div>
                   <div class="modal-dialog" role="document">
                       <div class="modal-content">
                           <div class="modal-header">
                               <h5 class="modal-title" id="exampleModalLabel">Add new absence</h5>
                               <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                   <span aria-hidden="true">&times;</span>
                               </button>-->
                           </div>
                           <div class="modal-body">

                               <div class="form-group">
                                   <label for="absenceType" class="col-form-label">Absence type:</label>
                                   <div class="form-group">
                                       <select class="form-control" id="absenceType" name="absenceType" th:field="*{absenceType}">
                                           <option th:each="type : ${types}"
                                                   th:value="${type}"
                                                   th:text="${type.name}"
                                           />
                                       </select>
                                   </div>
                                   <div class="row">
                                       <div class="col-md-4"><label class="float-right"><b>Start</b></label></div>
                                       <div class="col-md-8">
                                           <div class="form-group">
                                               <input type="date" class="form-control" id="start" autocomplete="off" th:field="*{absence_start}"/>
                                           </div>
                                       </div>
                                   </div>
                                   <div class="row">
                                       <div class="col-md-4"><label class="float-right"><b>End</b></label></div>
                                       <div class="col-md-8">
                                           <div class="form-group">
                                               <input type="date" class="form-control" id="end" autocomplete="off" th:field="*{absence_end}"/>
                                           </div>
                                       </div>
                                   </div>
                                   <div class="row">
                                       <div class="col-md-4"><label class="float-right"><b>Comment</b> max 500 characters</label></div>
                                       <div class="col-md-8">
                                           <div class="form-group">
                                               <input type="text" class="form-control" th:field="*{comment}"></input>
                                           </div>
                                       </div>
                                   </div>
                               </div>


                           </div>
                           <div class="modal-footer">
                               <button  type="submit" class="btn btn-primary">Add absence</button>
                               <button id="closeModal" type="button" class="btn btn-secondary close" data-dismiss="modal">Close</button>
                           </div>
                       </div>
                   </div>
               </form>
           <!--</div>-->

       </div>
       <div id="myModal1" class="modal">

           <!-- Modal content -->
           <!--<div class="modal-content">-->
           <form action="#" th:action="@{/calendar/add-vacation}" th:object="${vacation}" method="post">
               <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
                   <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
               </div>
               <div class="modal-dialog" role="document">
                   <div class="modal-content">
                       <div class="modal-header">
                           <h5 class="modal-title" id="exampleModalLabel1">Add new vacation</h5>
                           <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                               <span aria-hidden="true">&times;</span>
                           </button>-->
                       </div>
                       <div class="modal-body">

                           <div class="form-group">
                               <div class="row">
                                   <div class="col-md-4"><label class="float-right"><b>Start</b></label></div>
                                   <div class="col-md-8">
                                       <div class="form-group">
                                           <input type="date" class="form-control" id="startVacation" autocomplete="off" th:field="*{vacation_start}"/>
                                       </div>
                                   </div>
                               </div>
                               <div class="row">
                                   <div class="col-md-4"><label class="float-right"><b>End</b></label></div>
                                   <div class="col-md-8">
                                       <div class="form-group">
                                           <input type="date" class="form-control" id="endVacation" autocomplete="off" th:field="*{vacation_end}"/>
                                       </div>
                                   </div>
                               </div>
                               <div class="row">
                                   <div class="col-md-4"><label class="float-right"><b>Comment</b> max 500 characters</label></div>
                                   <div class="col-md-8">
                                       <div class="form-group">
                                           <input type="text" class="form-control" th:field="*{comment}"></input>
                                       </div>
                                   </div>
                               </div>
                           </div>


                       </div>
                       <div class="modal-footer">
                           <button  type="submit" class="btn btn-primary">Add absence</button>
                           <button id="closeModal1" type="button" class="btn btn-secondary close1" data-dismiss="modal">Close</button>
                       </div>
                   </div>
               </div>
           </form>
           <!--</div>-->

       </div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var modal = document.getElementById("myModal");
        var modal1 = document.getElementById("myModal1");
        var span = document.getElementsByClassName("close")[0];
        var span1 = document.getElementsByClassName("close1")[0];
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            headerToolbar:{
                left:'prev,next',
                center:'title',
                right:'addAbsence,addVacation'
            },
            customButtons:{
                addAbsence:{
                    text:'Add absence',
                    click:function () {
                        modal.style.display = "block";
                    }
                },
                addVacation:{
                    text:'Add vacation',
                    click:function () {
                        modal1.style.display = "block";
                    }
                }
            },
            displayEventTime: false,
            eventLimit: true, // allow "more" link when too many events
            eventSources:[
                {
                    url: '/calendar/list-vacations',
                    type:'GET',
                    color:'green',
                    error: function () {
                        alert("There was an error")
                    }
                },
                {
                    url: '/calendar/list-absences',
                    type:'GET',
                    color:'blue',
                    error: function () {
                        alert("There was an error")
                    }
                }
            ],
            eventClick: function(info) {
                if(info.event.title === "Vacation"){
                   if( confirm("Are you sure you want to delete?") === true) {
                       fetch("/calendar/vacation/delete/" + info.event.id, {
                           method: "DELETE"
                       }).then(function (res) {
                           //calendar.refetch();
                           window.location.reload();
                       })
                   }
                }
                if(info.event.title === "Absence"){
                    if( confirm("Are you sure you want to delete?") === true) {
                        fetch("/calendar/absence/delete/" + info.event.id, {
                            method: "DELETE"
                        }).then(function (res) {
                            //calendar.refetch();
                            window.location.reload();
                        })
                    }
                }
            }

        });
        calendar.render();
        span.onclick = function() {
            modal.style.display = "none";
        }
        span1.onclick = function() {
            modal1.style.display = "none";
        }
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    });

</script>
</body>
</html>